body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    display: flex;
}

.pokeball-logo {
    width: 50px;
    height: 50px;
    background-color: #f00;
    color: #fff;
    font-weight: bold;
    font-size: 24 pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24 pt;
    background-color: #fff;
    color: #222;
}

.content {
    width: 100%;
    height: 90%;
    display: flex;
}

.sidebar {
    width: 100px;
    background-color: #f00;
    color: #fff;
}

.inner-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.pokedex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer {
    background-color: #444;
    color: #ccc;
    display: flex;
    justify-content: center;
}

.dex-card {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dex-pkmn-img {
    width: 50px;
    height: 50px;
    background-color: #aaa;
}

.dex-pkmn-number {
    color: #333;
}

.dex-pkmn-name {
    color: #000;
    font-weight: bold;
}

.dex-types {
    display: flex;
    justify-content: center;
}

.dex-type {
    color: #fff;
    border-radius: 5px;
}

.dex-type-grass {
    background-color: green;
}

.dex-type-poison {
    background-color: indigo;
}

.dex-type-fire {
    background-color: tomato;
}